@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
    .menuModal {
      background-color: rgba(255, 255, 255, .5);
      -webkit-backdrop-filter: blur(2em);
      backdrop-filter: blur(2em);
    }
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgba(255, 255, 255, 1);
    max-width: 390px;
    min-height: 100vh;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;

    min-height: 100vh;
}

header{
    width: 100%;
    font-size: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 20px;

}

.menuModal{
    width: 70%;
    background-color: rgba(255, 255, 255, .8);
    backdrop-filter: blur(10px);
    /* -webkit-backdrop-filter: blur(100px); */
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100vw;
    z-index: 3;

    padding: 20px 20px;
    font-size: 1.5rem;
    transition: all 1s ease-in-out;
}

.menuModal ul{
    list-style-type: none;
    margin: 70px 0;
    font-size: 1rem;
    font-weight: 500;
}
.menuModal ul li{
    margin: 15px;
}
.menuModal > i, .menuModal ul li, .menuModal span{
    cursor: pointer;
}

.headerMenu{
    height: 100%;
    background-color: transparent;
    font-size: 1.4rem;
    margin: 15px 10px;
    transition: all .5s;
 
}

.headerMenu{
    height: 40px;
    width: 40px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.minhaCesta{
    font-size: 1.4rem;
    margin:20px 19px;
}


.containerEpoca{
    width: 100%;
    background-color: white;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: auto;
    margin-top: 10px;
    
    scrollbar-width: none;
    -ms-overflow-style: none;

}
.containerEpoca::-webkit-scrollbar{
    display: none;
}

.containerInner{
    display: flex;
    flex-direction: row;
}
.cardEpoca{
    height: 160px;
    width: 292px;
    overflow: hidden;
    margin-right: 20px;
    border-radius: 5px;
    position: relative
}
.cardEpoca span{
position: absolute;
bottom: 10px;
left: 10px;
z-index: 2;
}
.cardEpoca img{
    height: 100%;
}

.mainContent{
    width: 90%;
    margin: auto;
    /* position: relative; */
    /* border: 1px solid red; */
}

.cardCartItem{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.cardCartItem img{
    width: 122px;
    height: 122px;
    object-fit: cover;
    object-position: center;
}
.cardEscritas{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.cartPriceItem{
    color: rgba(157, 151, 162, 1);
    margin-bottom: 15px;
}
.detQtdBtn{
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: rgba(28, 16, 48, 1);
    display: flex;
  
    justify-content: flex-start;
}
#detNumQtd{
    margin: 0 15px;
}

a{
    color: #000;
    text-decoration: none;
}

.contFinalizar{
    position: absolute;
    bottom: 0px;
    margin: 0 auto 19px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 390px;
}

.buyNow{
    width: calc( 100% - 38px);
    margin: 0 auto;
    height: 50px;
    font-size: 1rem;
    background-color: rgba(253, 149, 187, 1);
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
}
.cartTotalPrice{
    margin-left: 19px;
    margin-bottom: 200px;
}







.season span, .categoria > span{
font-size: 1.3rem;
}

.categoria{
    width: 95%;
    margin: 20px auto;
    
}
.categoria a{
    text-decoration: none;
    color: #000;
}
.containerCategoria{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
    margin-top: 10px;

}
.cardCategoria{
    height: 180px;
    background-color: rgba(254, 244, 248, 1);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    position: relative;
}
.cardCategoria i{
    font-size: 2rem;    

}

.contCatIcon{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
}
.contCatSpan{
    font-size: 1rem;
    position: absolute;
    bottom: 20px;
}