@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgba(255, 255, 255, 1);
    max-width: 390px;
    min-height: 100vh;
    margin: 0 auto;
    /* border: 1px solid red; */
    font-family: 'Open Sans', sans-serif;
}

header{
    width: 100%;
    /* background-color: #333; */
    font-size: 2rem;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 80px;
    margin-bottom: 39px;

}

.menuModal{
    width: 70%;
    background-color: rgba(255, 255, 255, .8);
    backdrop-filter: blur(10px);
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100vw;
    z-index: 3;
    padding: 19px 19px;
    transition: all 1s ease-in-out;
}

.basketQtd{
    width: 20px;
    height: 20px;
    color: #fff;
    background-color: #f00;
    border-radius: 50%;
    font-size: 15px;
    position: absolute;
    right: 5px;
    top: 10px;
    display: none;
}

a{
    text-decoration: none;
    color: #000;
}

.menuModal ul{
    list-style-type: none;
    margin: 70px 0;
    font-size: 1rem;
    font-weight: 500;
}
.menuModal ul li{
    margin: 19px 0;
}
.menuModal > i, .menuModal ul li, .menuModal span{
    cursor: pointer;
}
.menuModal span{
    font-size: 1rem;
}
.menuModal i{
    font-size: 1.5rem;
    margin-top: 8px;
}

.headerMenu, .headerIcons {
    height: 100%;
    /* border: 1px solid black; */
    background-color: transparent;
    font-size: 1.4rem;
    margin: 15px 10px;
 
}
.headerIcons{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.headerMenu, .headerFind, .headerCart{
    height: 40px;
    width: 40px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerCart{
    position: relative;
}

.basketQtd{
    width: 20px;
    height: 20px;
    color: #fff;
    background-color: #f00;
    border-radius: 50%;
    font-size: 15px;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}




main{
    display: flex;
    flex-direction: column;
    margin: 0 19px;
}
.detalheImg{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 5px;
    object-fit: contain;
}
.detalheImg img{
    width: 100%;
}

.detQtdBtn{
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: rgba(28, 16, 48, 1);
    margin-right: 16px;
}


.detPrecoProd{
    margin-bottom: 30px;
    color: rgba(157, 151, 162, 1);
}
.detDescProd{
    margin-bottom: 25px;
    color: rgba(157, 151, 162, 1);

}

/* .addBtnCont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    max-width: 390px;
    margin-bottom: 19px;
} */

.addBtnCont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 19px;
    position: absolute;
    bottom: 0;
    max-width: calc(100% - 38px);
}

.addBtnCont button{
    width: 292px;
    height: 48px;
    font-size: 1rem;
    background-color: rgba(253, 149, 187, 1);
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
}
.addBtnCont i {
 width: 52px;
 height: 48px;
 text-align: center;
 font-size: 1.5rem;
 display: flex;
 justify-content: center;
 align-items: center;
 /* border: 1px solid red; */
 margin-left: 8px;
 color: rgb(253, 149, 187);
}

.minusBtn{
    margin-right: 16px;
}
.plusBtn{
    margin-left: 16px;
}

.inativo{
    display: none;
}

i{
    cursor: pointer;
}

a{
    color: #000000;
    text-decoration: none;
}